
.message-area {
    
    display: flex;
    color: black;
    height: 100vh;
   
}

.title {
    font-size: 1.5rem;
    margin: 3.1rem auto 1rem;
}

.messages {
    width: 30%;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    height: 100%;
   
}

.search {
    
    display: flex;
    background-color: rgb(221, 221, 221);
    border-radius: .5rem;
    padding: .25rem;
}
.search-input{
    border: none;
    padding: .8rem;
    background-color: transparent;
    outline: none;
}
.search-icon {
    width: 20%;
    margin-left: auto;
    position: relative;
}
.fas {
    font-size: 1.5rem;
    color: rgb(190, 190, 190);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    background-color: rgb(221, 221, 221);
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem auto;
}

.name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 1rem;
}
.name {
    margin: 0;
}
.name, .date-sent {
    font-size: 1rem;
}
.short-text {
    font-size: .9rem;
}

.messages-list {
    margin-top: 1rem;
    height: 70%;
    overflow-y: auto;
    text-align: justify;
}

.chat-box {
    width: 80%;
    position: relative;
}
.chat-header {
    margin-top: 3.1rem;
    padding: 1rem;
    background-color: rgb(221, 221, 221);
    height: 10%;
}
.chat-container {
    max-height: 80%;
    overflow-y: scroll;
}
.chat-controls {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-input, .chat-input > * {
   width: 80%;
    padding: 1rem;
    outline: none;
     border: none;
} 

.send-btn { 
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    background-color: #FFFF59;
    color: black;
    font-size: 1.3rem;
    outline: none;
}
